.CharacterStatus {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 200px;
  background-color: var(--ui-bgcolor-glass);
  padding: 10px;
  z-index: 10;
}

.Avatar {
  width: 80px;
  height: 80px;
  background-color: var(--theme-color-black);
}

.CharacterStatus > span {
  display: block;
}

.CharacterStatus b {
  font-weight: 700;
}
