.CharacterStatus {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 10px;  
  background-color: var(--ui-bgcolor-glass-dark);
  border: var(--ui-world-overlay-border);
  border-radius: var(--ui-world-overlay-border-radius);
  z-index: 10;
}

.Avatar {
  width: 80px;
  height: 80px;
  background-color: var(--theme-color-black);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.NameVitals {
  position: relative;
  top: -2px;
  margin-left: 10px;
}

.NameEnergy {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 3px 13px;
}

.Name {
  font-size: 15px;
  user-select: none;
}

.Energy {
  color: var(--ui-info-text-color);
  font-size: 12px;
  user-select: none;
}
