.CharacterStatus {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 10px;  
  background-color: var(--ui-bgcolor-glass);
  z-index: 10;
}

.Avatar {
  width: 80px;
  height: 80px;
  background-color: var(--theme-color-black);
}

.NameVitals {
  margin-left: 10px;
}

.NameEnergy {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 13px;
}

.Name {
  font-size: 15px;  
}

.Energy {
  color: var(--ui-info-text-color);
  font-size: 12px;
  user-select: none;
}
