.Modal {
  position: absolute;
  left: 50%;
  top: 30px;
  width: 50%;
  padding: 10px;
  background-color: var(--ui-bgcolor);
  border: var(--ui-border);
  transform: translateX(-50%);
  z-index: 100;
}
