.Modal {
  position: absolute;
  left: 50%;
  top: 50px;
  width: 50%;
  padding: 10px;
  background-color: var(--ui-bgcolor-glass);
  border: var(--ui-border);
  border-radius: var(--ui-border-radius);
  transform: translateX(-50%);
  z-index: 110;
}
