.InteractionPane {
  padding: 15px;
  width: 100%;
  height: calc(100vh - 15px - var(--ui-titlebar-height) - var(--ui-navbar-height-minimal) - 150px - 10px - 15px - 228px - 15px - 20px);
  background-color: var(--ui-foregcolor);
  box-sizing: border-box;
}
