.CharacterSelect {
  padding: 15px;
}

.CharactersScrollRegion {
  height: 440px;
  overflow-y: scroll;
}

.Avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  background-color: var(--theme-color-black);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.Info {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%; 
}

.Label {
  display: block;
  margin-bottom: 5px;
  width: 30%;
  font-family: var(--theme-font-callout);
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.Stats {
  display: flex;
  align-items: center;
  flex: 1;
}

.Details {
  color: var(--ui-info-text-color);
  text-transform: capitalize;
}

.Actions {
  display: flex;
  align-items: center;
}

.InfoText {
  display: inline-block;
  margin: 5px 0;
	color: var(--ui-info-text-color);
  font-size: 12px;
  letter-spacing: 1px;
  user-select: none;
}
