.CharacterSelect {
  padding: 15px;
  background-color: var(--ui-foregcolor);
}

.Avatar {
  margin-right: 15px;
  width: 80px;
  height: 80px;
  background-color: var(--theme-color-black);
}

.Info {
  flex: 1;
}

.Label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.Stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
