.WorldInfo {
  padding: 5px;
  width: 100%;
  background-color: var(--ui-bgcolor-glass);
  border: var(--ui-world-overlay-border);
  border-radius: var(--ui-world-overlay-border-radius);
  box-sizing: border-box;
}

.WorldInfoInner {
  padding: 15px;
  width: 100%;
  background-color: var(--ui-foregcolor);
  box-sizing: border-box;  
}

.MiniMap {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ui-info-text-color);
  font-size: 12px;
  background-color: var(--theme-color-black);
  width: 100%;
  height: 150px;
}

.DateTimeWeather {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: var(--ui-info-text-color);
  font-size: 12px;
}
