.TileInspector {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  height: 92px;
  background-color: var(--ui-foregcolor);
  box-sizing: border-box;
}

.TileInfo {
  display: flex;
}

.Tile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  min-width: 72px;
  height: 72px;
  background-color: var(--theme-color-black);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.TileStats {
  padding-right: 5px;
}

.TerrainName {
  display: block;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.TerrainDescription {
  display: block;
  color: var(--ui-info-text-color);
  font-size: 11px;
}

.TileInfoCurrent {
  width: 60%;
}

.TileInfoCurrent .TerrainName {
  margin-bottom: 3px;
}

.TileInfoQuery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.TileInfoQuery .Tile {
  min-width: 36px;
  height: 36px;
}

.TileInfoQuery .TerrainName {
  color: var(--ui-info-text-color);
}
