.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: var(--ui-navbar-height);
  background-color: var(--ui-foregcolor);
  transition: all 200ms ease-out;
  z-index: 200;
}

.NavBar.Minimal {
  height: var(--ui-navbar-height-minimal);
}

.NavBar.Minimal a {
  color: var(--ui-info-text-color);
  transition: color 200ms ease;
}

.NavBarItems {
  display: flex;
  height: 100%;
}
