.TitleBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: white;
  font-size: 12px;
  background-color: #1a1a1a;
  cursor: default;
  user-select: none;
}
