.TitleBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30px;
  color: var(--theme-color-white);
  font-family: var(--theme-font-callout);
  font-size: 11px;
  letter-spacing: 3px;
  background-color: var(--theme-color-black);
  text-transform: uppercase;
  cursor: default;
  user-select: none;
  z-index: 200;
}
